# Local Terraform files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Directories
.terraform/
.terraform.lock.hcl
.terragrunt-cache/

# System Files
.DS_Store